body{
    background-color: rgb(243, 232, 232)
}
form {
display: flex; 
margin: 0 auto; 
flex-direction: column;
justify-content: center; 
width: 300px;
}
h2 {
    justify-content: center;
    display: flex;
}
#p1 {
    background-color: rgb(182, 173, 173);
    font-size: 12px;
}
.caixa {
        background-color: rgb(194, 194, 189);
    }